<div class="p-4 flex gap-4">
    <div class="w-2/6 p-4 border-2 border-[#233a6c] rounded-2xl h-[470px]">
        <!-- add task section -->
        <h1 class="text-[#233a6c] font-semibold text-2xl mb-4">Add New Task</h1>
        <form (ngSubmit)="addTask()" class="flex flex-col gap-4">
            <div class="flex flex-col gap-1">
                <label class="text-[#233a6c] text-lg">Title</label>
                <input [(ngModel)]="newTaskInput.title" name="title" type="text"
                    class="p-2 rounded-lg border-2 bg-transparent border-[#233a6c]" placeholder="e.g. Write blog post">
            </div>
            <div class="flex flex-col gap-1">
                <label class="text-[#233a6c] text-lg">Description</label>
                <textarea [(ngModel)]="newTaskInput.description" name="description" type="text" rows="4"
                    class="p-2 rounded-lg border-2 border-[#233a6c] bg-transparent"
                    placeholder="e.g. Draft tips on productivity and focus."></textarea>
            </div>
            <div class="flex flex-col gap-1">
                <label class="text-[#233a6c] text-lg">Priority</label>
                <select [(ngModel)]="newTaskInput.priority" name="priority" type="text"
                    class="p-2 rounded-lg border-2 bg-transparent border-[#233a6c]">
                    <option class="text-red-500" value="High">High</option>
                    <option class="text-green-500" value="Medium">Medium</option>
                    <option class="text-yellow-500" value="Low">Low</option>
                </select>
            </div>
            <button type="submit"
                class="bg-[#233a6c] hover:bg-[#2c4885] border-2 text-white text-lg rounded-lg transition-all duration-300 w-full p-2">
                Add Task
            </button>
        </form>
    </div>
    <div class="w-4/6 p-4 bg-[#233a6c] rounded-2xl h-[470px] overflow-y-auto scrollbar">
        <div class="flex items-center justify-between mb-4">
            <!-- task list section -->
            <h1 class="text-[#fffde9] font-semibold text-2xl">Tasks</h1>
            <div class="flex gap-4 items-center">
                <!-- status based filter -->
                <select name="filter-status" [(ngModel)]="statusFilter"
                    class="p-1 text-center text-white bg-[#2c4987] outline-none border-none rounded-lg w-32">
                    <option value="All">Status</option>
                    <option value="Completed">Completed</option>
                    <option value="Pending">Pending</option>
                </select>
                <!-- priority based filter -->
                <select name="filter-priority" [(ngModel)]="priorityFilter"
                    class="p-1 text-center text-white bg-[#2c4987] outline-none border-none rounded-lg w-32">
                    <option value="All">Priority</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
                <!-- clear all completed tasks -->
                <i (click)="clearCompletedTask()" matTooltip="Clear completed tasks"
                    matTooltipClass="bg-white text-xs rounded-3xl" matTooltipShowDelay="1000" matTooltipPosition="left"
                    class="fa-solid fa-broom  bg-[#2c4987] p-1 rounded-full text-lg px-2 text-white cursor-pointer hover:bg-white hover:text-[#2c4987] transition-all duration-300"></i>
            </div>
        </div>
        <!-- if there is no tasks then show message -->
        @if (tasks.length === 0) {
        <div class="pt-36 flex items-center justify-center">
            <h1 class="text-white text-2xl">No Tasks</h1>
        </div>
        }
        <div class="flex flex-col gap-4">
            @for (todo of getFilteredTask(); track $index) {
            <!-- display all tasks -->
            <div
                class="flex items-center justify-between hover:border-white border border-[#233a6c] p-4 rounded-2xl  transition-all duration-300">
                <div class="flex gap-4 items-center justify-center">
                    <h1 class="text-5xl font-extrabold text-[#2e4c8b]">{{$index+1}}</h1>
                    <div class="flex flex-col">
                        <h3 [ngClass]="todo.completed === false ? '':'line-through !text-gray-500'"
                            class="text-lg font-semibold text-white">{{todo.title}}</h3>
                        <p [ngClass]="todo.completed === false ? '':'line-through !text-gray-500'"
                            class="text-sm text-white">{{todo.description}}</p>
                    </div>
                </div>
                <div class="flex gap-8">
                    <div [ngClass]="{
                        '!bg-neutral-500': todo.completed === true,
                        'bg-red-500': todo.priority === 'High',
                        'bg-green-500': todo.priority === 'Medium',
                        'bg-yellow-500': todo.priority === 'Low'
                    }" class="w-28 text-center text-white rounded-3xl">
                        <p>{{todo.priority}}</p>
                    </div>
                    <!-- button for toggle complete -->
                    <button (click)="toggleCompleted(todo)" matTooltip="Mark as Read"
                        matTooltipClass="bg-white text-xs rounded-3xl" matTooltipShowDelay="1000"
                        matTooltipPosition="below"
                        class="text-white transition-all duration-300 text-xl hover:text-blue-300">
                        <i
                            [ngClass]="todo.completed === false ? 'fa-solid fa-circle-check':'fa-solid fa-rotate-left'"></i>
                    </button>
                    <!-- button for edit task -->
                    <button (click)="editTask(todo)" matTooltip="Edit" matTooltipClass="bg-white text-xs rounded-3xl"
                        matTooltipShowDelay="1000" matTooltipPosition="below"
                        class="text-white transition-all duration-300 text-xl hover:text-blue-300">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                    <!-- button for delete task -->
                    <button (click)="deleteTask(todo.id)" matTooltip="Delete"
                        matTooltipClass="bg-white text-xs rounded-3xl" matTooltipShowDelay="1000"
                        matTooltipPosition="below"
                        class="text-white transition-all duration-300 text-xl hover:text-blue-300">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
            </div>
            }
        </div>
    </div>
</div>